@use "modern-normalize.min.css";
@use "fontello.css";
@use "../base/variables.scss" as *;
@use "../sass/pxtorem.scss";
@use "../base/basic.scss";
@use "../base/animation.scss";

// home page
@use "../blocks/promo.scss";
@use "../blocks/header.scss";
@use "../blocks/active.scss";
@use "../blocks/contact.scss";
@use "../blocks/works.scss";
@use "../blocks/footer.scss";

// catalog page
@use "../blocks/homeCatalog.scss";
@use "../blocks/cards.scss";

// about page
@use "../blocks/about.scss";

// blog page 
@use "../blocks/blog.scss";

@use "../ui/titles.scss";
@use "../ui/buttons.scss";
@use "../ui/text.scss";

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(3px);
        z-index: 1;
    }

    .overlay.remove {
        visibility: hidden;
    }

    @media screen and (min-width:768px) {
        
        .overlay {
            display: none;
        }
        
    }