@use "../base/mixins.scss" as *;
@use "../base/variables.scss" as*;


.btn-default {
    @include button;
    width: 230px;
    height: clamp(45px, 5vw, 50px);
    font-size: clamp(18px , 3vw , 24px);
    transition: 0.2s ease-in;
}

@media screen and (min-width:320px) {
     .btn-default {
        &:hover {
            color: $read;
            border-color: $read;
        }
        &:active {
            background: rgba(217,217,217,0.1);
            box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.4) inset;
            color: $dark;
            border: none;
        }
    }

    .footer_btn {
        &:hover {
            border-color: $veryLight;
            color: $veryLight;
        }
        &:active {
            background: none;
            color: $ui-disabled;
            box-shadow: none;
            border: 1px solid $ui-disabled;
            transition: 0.1s ease-in;

        }
    }
}

@media screen and (min-width:1024px){
    .btn-default {
        &:hover {
            background-color: $dark;
            color: $light;
            cursor: pointer;
        }
        &:active {
            background: rgba(217,217,217,0.1);
            box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.4) inset;
            color: $dark;
            border: none;
        }
    }
}

