
@use "../base/variables.scss"as *;

.about {

    padding-top:50px ;

    &_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 40px;
        gap: 30px;
    }
    &_beganBio {
            display: flex;
            flex-direction: column;
            align-items: center;
        .textBio {
            display: grid;
            row-gap: 20px;
            margin-top: 35px;
        }
    }
    &_title {
        font-size:clamp(24px ,5vw ,36px);
    }
}

.findUs {

    .container {
        .works_title-h2 {
            margin: 0;
        }
    }

     .container_img {
        margin:  60px 0 60px 0;
        display: flex;
        justify-content: center;

         iframe {
            border-radius: 10px;
         }
             img:nth-child(3) {
               display: none;
            }

             img:nth-child(4) {
               display: none;
            }

              img:nth-child(2) {
               display: none;
            }
            img {
                width:663px;
            }
     }
    
}

@media screen and (min-width:768px) {
     
.about {
  
    &_wrapper {
            margin-top: 60px;
            gap: 58px;
        }
        &_beganBio {
            
            img {
                width: 600px;
            }
        }
    }
}

@media  screen and (min-width:1024px) {
    
    .about {

        &_wrapper {
            justify-content: center;
            width: 100%;
        }
        &_beganBio {
           flex-direction: unset;
           align-items: start;
           justify-content: space-between;

           img {
            width: 470px;
            height: 370px;
           }

         .textBio {
            width: 470px;
            margin-top: 0;
         }
        }
    }
}

@media screen and (min-width:1440px) {
    

    .about {

       &_beganBio {
        justify-content: space-evenly;
       }
    }
}

@media screen and (min-width:1920px) {
    
    .about {

        &_wrapper {
            margin-top: 100px;
            gap:100px;
        }
        &_beganBio {
            justify-content: space-between;
            height: 481px;

            img {
                width: 700px;
                height: 100%;
            }
        }
        .textBio {
            height: 100%;
            width: 720px;
            font-size: 20px;
        }
    }
}