@use "../base/variables.scss" as *;


.active {
    
    &_img {
        width:100%;
    }
    &_title {
        font-size:clamp(24px, 5vw ,36px);
    }

    &_text {
        margin-top: 20px;
        color: $dark;
    }

    &_title-h3 {
        margin:20px 0 40px 0 ;
        font-size: clamp(10px, 5vw ,28px);
    }

    &_title-h3:nth-child(5){
       margin-top: 30px;
    }

    &_paraph {
        color: $read;
        font-weight: 500;
    }

}

@media screen and (min-width:768px){
      .active {
        padding: 60px 95px;
        
        &_img:nth-child(3) {
            width:100%;
            height: 304px;
          }

        &_img:nth-child(6){
            width: 100%;
            height: 200px;
        }

        &_text.text-paraph {
        font-size: 20px;
        margin-top: 25px;
       }

       &_title {
        margin-bottom: 40px;
       }

       &_title-h3:nth-child(5){
        margin-top: 40px;
       }

      }
    
}


@media screen and (min-width:1024px) {
    .active {

        .container {
            width: 100%;
        }
        &_wrapper {
            display: flex;
            justify-content: center;
            gap: 10px;
        }

        &_boxes {
            img {
                width: 400px;
                height: 225px
            }
            .text-paraph{
                width: 410px;
                height: 192px;
            }
        }

        &_boxes:last-child{
            width: 560px;

            img {
                width: 545px;
                height: 225px;
            }
            .text-paraph {
                width: 490px;
            }
        }
    }
}

@media screen and (min-width:1440px) {
    .active {

          &_wrapper {
            display: flex;
            gap:30px;
        }

          &_boxes {
            width:460px;
            img {
                width:100%;
                height: 265px
            }
            .text-paraph{
                width:100%;
            }
        }
        
        &_boxes:last-child{
            width: 600px;

            img {
                width: 100%;
                height: 265px;
            }
            .text-paraph {
                width: 496px;
            }
        }
    }
}

@media screen and (min-width:1920px)  {
   
    .active {
            margin-top: 100px;
          &_boxes {
            width:556px;
            
            img {
                width:100%;
                height: 320px
            }
            .text-paraph{
                width:100%;
            }
        }
        
        &_boxes:last-child {
            width: 844px;

            img {
                width: 100%;
                height: 320px;
            }
            .text-paraph {
                width: 556px;
            }
          }
       }
    }


    