@use "../base/mixins.scss" as *;
@use "../base/variables.scss" as *;



.contact {
    margin:60px 0 59px 0;

    &_info {
        border: none;
        padding: 0;

        img:first-child{
            display: none;
        }
    }
    &_wrapper-info {
        width: 100%;
        margin-top: 59px;
        display:flex;
        flex-direction: column;
        padding: 0;
        margin-right: 0;

          .email-box {
            width: 100%;
            display: flex;
            flex-direction: column;
           }

     label {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 20px;

      input{
        width: 16px;
      }
       }
    }

    &_textarea {
        padding: 10px 15px;
        height: 80px;
        width: 100%;
        resize: none;
        background-color: $veryLight;
        border: 1px solid #E2E1E5;
        border-radius: 2px;
    }

    &_title-h1{
        font-size: clamp(24px, 5vw ,36px);
    }

    .contact_btn {
        margin: 30px 0 auto 0;
    }

    input {
        height: 48px;
        padding: 10px 15px;
        border-radius: 2px;
        border: 1px solid #E2E1E5;
        background-color: $veryLight;
    }

    input {
        &:active{
           border-color:$request;
        }
        &:focus {
           border-color:$ui-error;
        }
    }

    input::placeholder{
        color: $ui-disabled;
    }


    textarea::placeholder {
        color: $ui-disabled;
        font-size: 15px;
    }

    &_wrapper-btn {
        img {
            display: none;
        }
    }



}

@media screen and (min-width:768px) {
    .contact {
        margin-bottom: 60px;

        .container {
            width: 696px;
        }
        
        // &_title-h1 {
        //     font-size: 40px;
        // }

        input {
            width: 300px;
            height: 48px;
        }

        &_textarea {
              width: 300px;
              min-width: 300px;
              max-width: 300px;
              height: 132px;
        }

        .contact_btn {
            width: 220px;
        }

        &_wrapper-btn {
            display: flex;
            justify-content: space-between;

            img{
                display: block;
            }
        }

        &_info {

            img:first-child{
                display: none;
            }
        }

        &_wrapper-info{
            display: flex;
            flex-direction: column;
            .email-box {
            width: 300px;
            display: flex;
            flex-direction: column;
           }
        }

    }
}

@media screen and (min-width:1024px) {
    .contact { 

        .container {
          width: 100%;
        }

        &_info {
            margin-top: 80px;
            display: grid;
            grid-template-columns:repeat(2,1fr);
            justify-content:center;
            column-gap: 30px;
        
            .info_imgBox{
                width: 450px;
                margin-top: 10px;
            }

            img:first-child{
                display:block;
            }
        }

         &_wrapper-info {
            width: 450px;
            display: flex;
            flex-direction: column;
            margin-top: 0;

            .email-box {
            width: 300px;
            display: flex;
            flex-direction: column;
           }
        }
    }
}

@media screen  and (min-width:1200px){
    
    .contact {

        &_info {
            display: flex;
            gap:40px;


            .info_imgBox {
                width: 550px;
            }
        }

        &_wrapper-info {
            width: 550px;
        }
    }
}

@media screen and (min-width:1440px) {

    .contact {
        &_info {
            grid-template-columns: repeat(2, 550px);
    
        }
        &_wrapper-info {
            width: 600px;
           .email-box {
            width: 300px;
            display: flex;
            flex-direction: column;
           }

        }

        .wrapper_boxes-email {
            display: flex;
            gap: 10px;
        }


    }
}

@media screen and (min-width:1920px) {
    .contact {
         margin: 100px 0 100px 0;
        &_info {
            width: 1320px;
            grid-template-columns: repeat(2 ,600px);
            justify-content: space-between;
        }

        .info_imgBox {
            width: 573px;
        }
       
    }
}