@use "../base/variables.scss" as *;

.header {

    &_top {
        // position: fixed;
        // width:85%;
        // top: 40px;
        display:flex;
        justify-content: space-between;
    }

    &_logo {
        margin-right: 20px;
        width: clamp(90px, 5vw, 100px);
        height: clamp(90px, 5vw, 100px);
    }

    &_icons {
        display:flex;
        align-items: start;
        gap: 10px;

        a {
            display: block;

            span {
                display: block;
                width: 20px;
                height: 20px;
                color: $dark;
                font-size: 17px;
            }
        }
    }

    .icon-search {
        transform: scaleX(-1);
    }

    &_nav.hidden{
        opacity: 0.4;
        transform: translatey(-100%);
        box-shadow: 0 24px 40px rgba(0, 0, 0, 0.3);
        height: 50%;
    }

    &_nav {
        display: flex;
        flex-direction: column;
        justify-content: start;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        background-color: $light;
        border-radius: 0 0 10px 10px;
        transition: ease-in-out 0.3s;
        transform: translatey(0%);
        opacity: 1;
        z-index: 3;
        padding-bottom: 50px;

  .burger {
    position:absolute;
    top: 50px;
    right: 20px;
    cursor: pointer;
   }
     
   .btn-burger{
          
            span {
                display: block;
                width: 20px;
                height: 1px;
                background-color: $dark;
                transition: ease-in-out 0.1s;
            }

            span:first-child {
                transform: rotate(-45deg);
                position: absolute;
                top: 50%;
                left: 0px;
            }

            span:nth-child(2) {
                opacity: 0;
                transition: ease;
            }

            span:last-child {
                transform: rotate(45deg);
                position: absolute;
                top: 50%;
                left: 0px;
            }

        }

    }

    ul {
        display: grid;
        justify-items: center;
        gap: 25px;
        list-style-type: none;
        padding: 100px 0px 0 0px;

        li {
            a {
                text-decoration: none;
                text-transform: uppercase;
                color: $dark;
                font-size: clamp(16px, 5vw, 22px);
            }

            a:hover {
                border-bottom: 1px solid $dark;
            }
        }
    }

}

.burger {
    position: relative;
    width: 23px;
    height: 23px;
    cursor: pointer;
}


.btn-burger {

    span {
        width: 20px;
        height: 1px;
        background-color: $dark;
        transition: ease-in-out 0.2s;
    }

    span:first-child {
        transform: rotate(0deg);
        position: absolute;
        top: 10%;
        left: 0px;
    }

    span:nth-child(2) {
        position: absolute;
        top: 50%;
    }

    span:last-child {
        transform: rotate(0deg);
        position: absolute;
        top: 90%;
        left: 0px;
    }

}



.transform{
    margin: 0;

    span:first-child {
        transform: rotate(45deg);
        position: absolute;
        top: 10px;
        left: 0;
    }

    span:nth-child(2) {
        opacity: 0;
        transition: ease-out 0.1s;
    }

    span:last-child {
        transform: rotate(-45deg);
        position: absolute;
        top: 10px;
        left: 0;
        opacity: 1;
    }
}


@media screen and (min-width:768px) {

    .header {
    
        &_nav.hidden {
            opacity: 1;
            transform: translatey(0%);
            box-shadow: none;
        }

        &_nav {
            position: unset;
            background: none;
            display: block;
            transform: none;
            box-shadow: none;
            height: auto;

            .btn-burger {
                display: none;
            }

            ul {
                padding-top: 20px;
                display: flex;
                padding-left: 0;
                justify-content: center;
                gap: 30px;
            }
        }

        &_link {
            text-decoration: none;
            color: $dark;
            text-transform: uppercase;
            font-size: 20px;
            font-weight: 400;
            font-style: normal;
        }
    }

    .burger {
        visibility: hidden;
    }
}

@media screen and (min-width:1440px) {

    .header {

        &_nav {

            margin-top: 40px;

            ul {
                gap: 60px;
            }
        }

        &_top {
            .header_logo {
                width: 150px;
                height: 151px;
            }
        }
    }
}